.entete__header{
    background-image: url("images/roblox.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 35%;
}

.entete__header span{
    display: block;
}