.entete__header {
  background-image: url("images/roblox.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 35%;
  text-align: center;
  justify-content: center;
}

.entete__header span {
  display: block;
}

@media screen and (min-width: 500px) {
  .entete__header {
    text-align: left;
    background-position: 100% 50%;
  }
}
