:root{
    --couleur-arriere-entete : #1cadd1;
    --couleur-arriere-acceuil : #c8db17;
    --couleur-arriere-galerie : rgb(17, 221, 34);
    --couleur-arriere-evenement : rgb(240, 161, 14);
    --couleur-arriere-footer : #c521e6;
}