.section__cours {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.carte {
    padding: 1rem;
    border: 1px solid #aaa;
    background-color: #ffb5b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 calc(1010px/4);
    box-shadow: rgba(214, 129, 129, 0.822) 0px 48px 100px 0px;
}

.carte *{
    text-align: center;
}