.general__quote{
    padding: 20px;
    font-size: 1.5em; 
    line-height: 1.6; 
    border-radius: 5px;
}

.quote_victor{
 background-color: #fcc4ff;
 
}

.quote_einstein{
    background-color: #f4ed9f;
}

